.eventFilters {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.filtersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filterGroup {
  display: flex;
  align-items: center;
}

.filterGroup label {
  margin-right: 10px;
}

.filterGroup input,
.filterGroup select {
  padding: 8px;
  font-size: 14px;
}

.resetButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.resetButton {
  padding: 10px 20px;
  background-color: #fc6767;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  max-height: 38px;
  min-width: 130px;
}

.resetButton:hover {
  background-color: #ff1313;
}
