.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #484848;
  color: white;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.header button {
  padding: 10px 20px;
  background-color: #31d9d4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.header button:hover {
  background-color: #04eae3;
}
