.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modalTitle {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-size: 1rem;
  margin-bottom: 5px;
}

.inputField {
  padding: 8px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.descriptionField {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;

  height: 100px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.submitButton,
.closeButton {
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.submitButton {
  background-color: #31d9d4;
  color: white;
}

.submitButton:hover {
  background-color: #04eae3;
}

.closeButton {
  background-color: #fc6767;
  color: white;
}

.closeButton:hover {
  background-color: #ff4500;
}
